<launch>
    <node pkg="rosserial_python" name="wifi_connection" type="serial_node.py" args="tcp" output="screen"/>
    <node pkg="ros_esp_mr" name="brush_switch" type="brush_switch.py"/>
    <node pkg="ros_esp_mr" name="infrared_sensor" type="infrared.py"/>    
    <node pkg="ros_esp_mr" name="esp32_odom_publisher" type="diff_tf_odom.py"/>
    <node pkg="rviz" name="rviz_node" type="rviz"/>
    <arg name="map_file" default="$(find ros_esp_mr)/map_testing.yaml"/>
        <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> 
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0  0  0  0  0  0  /map /odom 100" />  

</launch>